.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes Spin {
    0% {
        transform: rotate(0deg);
        opacity:0%;
    }
    100% {
        transform: rotate(360deg);
        opacity:100%;
    }
}

img {
    animation: Spin 1s ease;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(100px);
    }
    66% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }

}

#bear:active {
    animation: move 10s ease;
}

@keyframes dissapear {
    0% {
        opacity:100%;
    }

    100% {
        opacity:0%;
    }
    
}

#elephant:active {
    animation: dissapear 2s;
}

@keyframes dance {
    0% {
        transform: translate(0px, 0px);
    }
    33% {
        transform: translate(100px, -30px);
    }
    66% {
        transform: translate(-100px, 30px);
    }
    100% {
        transform: translate(0px)
    }
}

#giraffe:active {
    animation: dance 5s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(40px);
    }
    66%{
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }  
}

 #hippo:active {
        animation: jump 2s;
    }
